@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");
:root {
  --black: #000;
  --white: #fff;
  --min: #014151;
  --sc: rgb(229, 112, 121);
  --oil: #737140;
  --trans: 0.4s all ease-in-out;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  padding: 0;
}
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  z-index: 1;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  /* position: relative; */
}
body:after {
  z-index: -1;
  content: "";
  position: fixed;
  inset: 0;
  background-color: var(--min);
  opacity: 0.08;
  height: 100%;
}

.trans2 {
  transition: var(--trans) !important;
}

.statesBox {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  text-transform: capitalize;
}

.statesBox.online {
  background-color: #00800039 !important;
  color: green !important;
}
.statesBox.ofline {
  background-color: #ff00003b !important;
  color: red !important;
}

.prag {
  font-size: 15px;
  color: #888;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 772px) {
  .prag {
    font-size: 14px;
  }
}
